---
# Project uses [Pipeliner](https://github.com/luisico/pipeliner) to deploy to a swarm cluster.

# Important customizations:
# - Pipeline defaults to release-from-trunk:
#   To use release-from-tag replace "release-from-trunk.yml" with "release-from-tag.yml" below (both lines).
# - Personalize your deployment name (and URL):
#   Substitute "INITIALS" in "APP_NAME" below with your 2-3 lowercase character initials.

include:
  - project: cce/pipeliner
    ref: 1.0.0
    file:
      - /main.yml
      - /pipelines/release-from-trunk.yml
  - local: /.pipeliner-overrides/production.yml
  - local: /.pipeliner-overrides/release-from-trunk.yml

# Pipeliner variables:
variables:
  APP_NAME: INITIALS-pipeliner
  APP_DOMAIN: example.com
